
    <!-- About -->
    <section class="bg-light" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About us</h2>
            <h3 class="section-subheading text-muted">we are not a company - we are an <strong> ecosystem </strong></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src=<%= image_url("about/1.jpg") %> alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Blockchain</h4>
                    <h4 class="subheading">Empowering technology</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">“The blockchain is an incorruptible digital ledger of economic transactions that can be programmed to record not just financial transactions but virtually everything of value.”
- Don & Alex Tapscott, authors ofBlockchain Revolution (2016)</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src=<%= image_url("about/2.jpg") %> alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Fraud in Food Industry</h4>
                    <h4 class="subheading">Counterfeit food problem</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted"> <a href="http://www.drhardick.com/fake-olive-oil" target="_blank">Reports indicate</a> as much as 80 % of so-called Italian olive oil is a fraud, cut with inferior seed oils and given a coloring agent, then deliberately mislabeled as virgin or extra virgin.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src=<%= image_url("about/3.jpg") %> alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Tracebility in supply chain</h4>
                    <h4 class="subheading">Where is your food coming from?</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Good traceability systems help to minimize the production and distribution of unsafe or poor quality products, thereby minimizing the potential for bad publicity, liability, and recalls. The current food labelling system cannot guarantee that the food is authentic, good quality and safe. - <a href="https://www.sciencedirect.com/science/article/pii/S0956713513005811">Myo MinAungYoon SeokChang</a> </p>
                  </div>
                </div>
              </li>
<!--               <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src=<%= image_url("about/4.jpg") %> alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>July 2014</h4>
                    <h4 class="subheading">Phase Two Expansion</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li> -->
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Know
                    <br>what you
                    <br>consume!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
