<!-- Services -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">What we offer</h2>
        <h3 class="section-subheading text-muted">So you can be one step ahead</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-shield fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Secure</h4>
        <p class="text-muted">We provide a tamper-proof database to store your informartion and build trust</p>
      </div>
      <div class="col-md-4"> 
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-link fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Decentralized</h4>
        <p class="text-muted">The information is safe and there is no need of backups, as our nodes will hold it</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Cheap</h4>
        <p class="text-muted">Certifications authorities take lots of time to verify and provide needed certificates. <br>With <strong>Vestige</strong> it can be up to 10x faster</p>
      </div>
    </div>
  </div>
</section>
