 <div id="wrapper" class="toggled">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Cryptoil
        </a>
      </li>
      <li>
        <a href="#">What is Cryptoil?</a>
      </li>
      <li>
        <a href="#">Why is Cryptoil?</a>
      </li>
      <li>
        <a href="#">Overview</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <a href="#menu-toggle" class="btn btn-light" id="menu-toggle"> <i class="fas fa-bars"></i> </a>
    
    <div class="jumbotron">
    <div class="container-fluid">
      <h1>Test</h1>
      
      <div align="center">
        
      </div>
    </div>
  </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>



<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
