


  <!-- Portfolio Grid -->
<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p> <br/></p>
        <p><br/> </p>
        <p> <br/></p>
        <h2 class="section-heading text-uppercase">Product history</h2>
        <h3 class="section-subheading text-muted">Click on any transaction for more info</h3>
        <div class="alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Success!</strong> Transaction <strong>4d2r89d8fdc</strong> added succesfully!
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src=<%= image_url("portfolio/01-thumbnail.jpg") %> alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Marco Olives - Deoleo</h4>
          <p class="text-muted">Transaction ID: 2d2c88d8fdc8bf81</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src=<%= image_url("portfolio/02-thumbnail.jpg") %> alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Deoleo - Maersk</h4>
          <p class="text-muted">Transaction ID: 3d2c88d8fdc823</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio-item" id="third">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src=<%= image_url("portfolio/03-thumbnail.jpg") %> alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Maersk - Lidl</h4>
          <p class="text-muted">Transaction ID: 4d2r89d8fdc</p>
        </div>
      </div>
      
    </div>
  </div>
</section>


<!-- Portfolio Modals -->

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Marco Olives</h2>
              <p class="item-intro text-muted">200 kg to Deoleo</p>
              <p>Olea europaea Family</p>
              <ul class="list-inline">
                <li>Date:12 January 2017</li>
                <li>Vendor: Marco Farm</li>
                <li>Client: Deoleo</li>
                <li>Category: Direct sale</li>
                <li>Transaction ID: 2d2c88d8fdc8bf81</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
              Close </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 2 -->


<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Deoleo - Maersk</h2>
              <p class="item-intro text-muted">3000 1L bottles</p>
              <p>Deoleo Extra Virgin Oil</p>
              <ul class="list-inline">
                <li>Date:12 January 2017</li>
                <li>Vendor: Deoleo SRL</li>
                <li>Client: Maersk</li>
                <li>Category: Distribution</li>
                <li>Transaction ID: 3d2c88d8fdc823</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
              Close </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Maersk - Liddl</h2>
              <p class="item-intro text-muted">500 1L bottles</p>
              <p>Deoleo Extra Virgin Oil</p>
              <ul class="list-inline">
                <li>Date:12 January 2017</li>
                <li>Vendor: Maersk</li>
                <li>Client: Liddl</li>
                <li>Category: Distribution</li>
                <li>Transaction ID:4d2r89d8fdc</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
              Close </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css"></style>

<script type="text/javascript">
  window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
      $(this).remove(); 
    });
  }, 4000);



</script>






